.home-page-container{
  width:100%;
}

/*------- Home page Heading CSS------------*/
.home-page-header{
color:#0C0033;
}

.home-page-header h1{
  font-weight: lighter;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 8px;
    padding: 2% 20% 0 20%;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}

.home-page-heading{
/*   min-height: 500px;
background: url('../../assets/images/bckimg.jpg') no-repeat;
background-size: 100% 71%;
    background-attachment: fixed;
justify-content: center;
background-position: right -9px bottom 700px;

/* min-height: 335px; */
background: url('../../assets/images/bckimg.jpg') no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* display: inline-table; */
}
.home-page-heading p{
      font-size: 1.5em;
      padding: 0 22% 0 22%;
      letter-spacing: 1px;
      text-align: center;
      -webkit-margin-before: 0px!important;
      -webkit-margin-after: 0px!important;
      -webkit-margin-start: 0px!important;
      -webkit-margin-end: 0px!important;
}
.bluebox {
      /*border: solid 5px #C5E7FF;
      border-color: #C5E7FF;
      border-radius: 0 0 240px 50%/60px;
      background-color: #C5E7FF;*/
      background: url('../../assets/images/curve.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.bluebox p{
  font-size: 1.4em;
  font-weight: lighter;
  text-align: center;
  justify-content: center;
    letter-spacing: 4px;
      padding: 1% 20% 0 20%;
  -webkit-margin-before: 0px!important;
  -webkit-margin-after: 0px!important;
  -webkit-margin-start: 0px!important;
  -webkit-margin-end: 0px!important;
  color:#0C0033;
}

/*------- Home page content CSS------------*/
.home-page-content{

}

.post-image-content-wrap{
  width: 100%;
      padding-top: 2%;
      padding-bottom: 2%;

}

.post-featured-image {
  float: left;
    width: 37%;
      margin-block-start: 0 !important;
      margin-block-end: 0!important;
      margin-inline-start: 0!important;
      margin-inline-end: 0!important;
}
.post-featured-image  img{
  width: 80%;
      padding-left: 20%;
}

.entry-content h3{
  font-size: 1.5em;
      letter-spacing: 0.1em;
      font-weight: 600;
      margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.entry-content{
  width: 45%;
      display: inline-block;
      padding-left: 8%;
  }

.entry-content li{
  font-size: 1.2em;
letter-spacing: 0.1em;
font-weight: 400;
}

.entry-content ul{
  margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 0px;
}

.fl-row-content-wrap{
  border-bottom: 1px solid grey;
}

hr {
width: 80%;
margin-left: auto;
margin-right: auto;
background-color:grey;
height:5px;
}


/*------- Home page About Ayla CSS------------*/

.image-holder{
            padding: 3% 7% 3% 10%;
}
.image-thumb{
  width: 16em;
  height: 16em;
  border-radius: 50%;
  background:url('../../assets/images/author.jpg');
background-size: cover;
background-position: center;
/* padding-left: 20em; */
float: left;
margin-top: 10%
}

.about-healer{
}


.about-description{
  width: 68%;
display: inline-block;
padding-left: 3em;
  }
.about-description p{
  font-weight: 500;
letter-spacing: 0.2em;
font-size: 1.2em;
text-align: center;
  }

/*----------Home page footer CSS------------------*/

.about-home-description{
padding: 0 20% 0% 20%;
  }

  .about-home-description p,h3{
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: 1.4em;
    text-align: center;
    }


.logo-img img{
  width: 15%;
  padding-left: 40%;
  padding-right: 45%;
}

.footer-navigation ul{
  list-style-type: none;
margin: 0 0 2em 0;
padding: 2% 15%;

}

.footer-navigation ul li{
  font-weight: 600;
    display: inline;
    margin-right: 33px;
    font-size: 1.4em;
}

.footer-navigation ul li a{
  font-weight: 600;
  color:#0C0033;
  text-decoration: none;
}

.footer-nav-list{

}

/*--------------Mobile page CSS--------------------*/

@media screen and (max-width: 600px) {
  .home-page-header{
  color:#0C0033;
  }

  .home-page-header h1{
    font-weight: lighter;
      font-size: 2em;
      text-align: center;
      letter-spacing: 8px;
      padding: 2% 2% 0 2%;
      -webkit-margin-before: 0px !important;
      -webkit-margin-after: 0px !important;
      -webkit-margin-start: 0px !important;
      -webkit-margin-end: 0px !important;
  }

  .home-page-heading{

  background: url('../../assets/images/bckimg.jpg')  no-repeat center center fixed #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

  }
  .home-page-heading p{
        font-size: 1.4em;
        padding: 0 2% 0 2%;
        letter-spacing: 1px;
        text-align: center;
        -webkit-margin-before: 0px!important;
        -webkit-margin-after: 0px!important;
        -webkit-margin-start: 0px!important;
        -webkit-margin-end: 0px!important;
  }
  .bluebox {
        /*border: solid 5px #C5E7FF;
        border-color: #C5E7FF;
        border-radius: 0 0 240px 50%/60px;
        background-color: #C5E7FF;*/
        background: url('../../assets/images/curve.png')no-repeat center center fixed #000;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
  }

  .bluebox p{
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
      letter-spacing: 2px;
        padding: 1% 2% 0 2%;
    -webkit-margin-before: 0px!important;
    -webkit-margin-after: 0px!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
    color:#0C0033;
  }

  .post-image-content-wrap{
    width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;

  }

  .post-featured-image {
    float: left;
      width: 37%;
        margin-block-start: 0 !important;
        margin-block-end: 0!important;
        margin-inline-start: 0!important;
        margin-inline-end: 0!important;
  }
  .post-featured-image  img{
    width: 80%;
        padding-left: 20%;
  }

  .entry-content h3{
    font-size: 1.5em;
        letter-spacing: 0.1em;
        font-weight: 600;
        margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .entry-content{
    width: 45%;
        display: inline-block;
        padding-left: 8%;
    }

  .entry-content li{
    font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  }

  .entry-content ul{
    margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  }

  .fl-row-content-wrap{
    border-bottom: 1px solid grey;
  }

  hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color:grey;
  height:5px;
  }


  /*------- Home page About Ayla CSS------------*/

  .image-holder{

  }
  .image-thumb{
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background:url('../../assets/images/author.jpg');
  background-size: cover;
  background-position: center;
  /* padding-left: 20em; */
  float: left;
  }

  .about-healer{
  }


  .about-description{
    display: inline-block;
    width: 90%;
    padding-left: 1em;
    padding-top: 2em;
    }
  .about-description p{
    font-weight: 400;
  font-size: 1.2em;
    }
    .post-image-content-wrap{
      width: 100%;

    }

    .post-featured-image {
        width: 70%;
          margin-block-start: 0 !important;
          margin-block-end: 0!important;
          margin-inline-start: 0!important;
          margin-inline-end: 0!important;
    }
    .post-featured-image  img{
      width: 100%;
    }

    .entry-content h3{
      font-size: 1em;
          letter-spacing: 0.1em;
          font-weight: 600;
          margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .entry-content{
            width: 83%;
                padding-left: 8%;

      }

    .entry-content li{
      font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    }

    .entry-content ul{
      margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    }

    .fl-row-content-wrap{
      border-bottom: 1px solid grey;
    }

    hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:grey;
    height:5px;
    }

.about-home-description{
  display: inline-block;
  width: 90%;
  padding-left: 1em;
  padding-top: 2em;
  font-size: 0.5em;
}
.footer-nav-list{
  display: none;
}

}
