<div class="home-page-container">
<div class="home-page-header">
<div class="home-page-heading">
<h1> INNER CONTOUR MINDFULNESS</h1>
<p> Develop your mindful approach to life and awareness of each present moment</p>
</div>
<div class="bluebox">
  <p> Leading group workshops to improve focus, wellbeing, and emotional intelligence through
  the process of artistic creation</p>
</div>
 </div>
 <div class="home-page-content">
   <div class="post-image-content-wrap">
   <figure class="post-featured-image">
     <img src="../../assets/images/one.jpg"
      class="attachment-featured-blog-medium size-featured-blog-medium wp-post-image"
      alt="Mindful benefits">
    </figure>
   <div class="entry-content clearfix">

<ul>
<h3> Mindful Meditation's Many Benefits:</h3>
<li>Improve yourself through self and world awareness</li>
<li>Enhance wellbeing</li>
<li>Sharpen your intuition</li>
<li>Have fun through creating art and process based projects</li>
<li>Share life insights</li>
<li>Build community</li>
<li>Nurturing and supportive workshop environment</li>
</ul>
   </div>
   </div>
   <div class="post-image-content-wrap">
   <figure class="post-featured-image">
     <img src="../../assets/images/two.jpg"
      class="attachment-featured-blog-medium size-featured-blog-medium wp-post-image"
      alt="Guided art possibilities">
    </figure>
   <div class="entry-content clearfix">
<ul>
<h3> Workshop guided-art content possibilities:</h3>
<li>Sculpture- create three dimesional projects from mixed media materials</li>
<li>Painting- create colorful pictures on canvas and paper</li>
<li>Movement- practice living in each moment with motion</li>
<li>Performance- express yourself through interpreting aspects of wellbeing topics</li>
</ul>
   </div>
   </div>
 </div>
 </div>
<hr>

<div class="about-healer">
  <div class="image-holder">
    <div class="image-thumb"></div>
    <div class=about-description>
      <p>Ayla Rapoport is a wellness consultant in the Boston area who has a background in
      meditation and arts creation. She has contributed the wellbeing of medical students,
      patients in hospitals, and clinical staff through teaching and practicing the whole-personal
      approach to wellbeing.</p>
    </div>
  </div>
</div>
<hr>

<div class="about-home-description">
  <p>If you would like to host a mindfulness workshop for your group, you are welcomed to write a
  message and schedule a complementary consultation.</p>
  <h3> Book time for consult:</h3>
  <p>smile@innercontourmindfulness.com</p>
</div>

<div class="logo-img">
  <img src="../../assets/images/logo.png"
   alt="Inner Contour Mindfulness">
</div>

<div class="footer-navigation">
<nav>
<ul class="footer-nav-list">
<li><a routerLink="/home">Home</a></li>
<li><a routerLink="/about">About</a></li>
<li><a routerLink="/gallery">Gallery</a></li>
<li><a routerLink="/add">Contact</a></li>
<li>smile@innercontourmindfulness.com</li>
</ul>
</nav>
</div>
